<div class="row mt-5">
    <h4>Registered Users</h4>
    <div class="col-xs-12 col-md-6">
        <div class="table-responsive">
            <table class="table table-bordered align-middle table-centered">
                <thead>
                    <tr>
                        <th colspan="4">
                            User Details
                        </th>
                    </tr>
                    <tr>
                        <th scope="col">User Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of userList">
                        <td>{{item.username}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.fullAddress}}</td>
                        <td>
                            <button class="btn btn-danger" (click)="removeUser(item)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>