.nav-link {
    color: grey;
    font-weight: 550;
}

.nav-tabs .nav-link.active {
    color: #FFFFFF;
    background-color: rgb(13, 110, 252);
    border-color: rgb(13, 110, 252);
    border-radius: 0px;
}